.lost-main {
    width: calc(100vw - 20px);
    max-width: 100%;
    align-content: center;
    justify-content: center;
    text-align: center;
}
.placeholder {
    margin: 200px;
}
.placeholder::after {
    content: "E̸̞̫̿r̵̤̀́̒̈́̕r̴̮͗o̷͖͍͎̞̅̀̉͝͠r̵̼̐̎̚ ̶̙́̊̽4̵̺̌ͅ0̵̰̭̜̺̒̚4̷̮̐̈̚͝ ̷̙̺̀̊ͅP̶̧̬̣̈́͠a̸͉̲̘̟̒ͅg̴̨͕̬̣̿̈́͑e̶͙̅͐ ̷̲͆͊̉͠N̷̢̲̮͋́͌́ȏ̸̳̤̠̼̇͑t̴̨͚̗́͜͝ ̶͍̯͔̥̓͘F̵̨̥͔̈́ö̴͈̥̣̳ù̶̧̨̗ͅn̷͇̟̪̜͊͌̀͑͘d̷̠̺̮͐ ";
    font-size: 100px;
    font-family: "Google Sans Regular";
    text-align: center;
    animation-name: corrupted;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}
@media (max-width: 1380px) {
    .placeholder {
        margin: 160px;
    }
    .placeholder::after {
        font-size: 80px;
        font-family: "Google Sans Regular";
        text-align: center;
    }
}
@media (max-width: 768px) {
    .placeholder {
        margin: 100px;
    }
    .placeholder::after {
        font-size: 50px;
        font-family: "Google Sans Regular";
        text-align: center;
    }
}
@keyframes corrupted {
    0% {
        content: "E̸̞̫̿r̵̤̀́̒̈́̕r̴̮͗o̷͖͍͎̞̅̀̉͝͠r̵̼̐̎̚ ̶̙́̊̽4̵̺̌ͅ0̵̰̭̜̺̒̚4̷̮̐̈̚͝ ̷̙̺̀̊ͅP̶̧̬̣̈́͠a̸͉̲̘̟̒ͅg̴̨͕̬̣̿̈́͑e̶͙̅͐ ̷̲͆͊̉͠N̷̢̲̮͋́͌́ȏ̸̳̤̠̼̇͑t̴̨͚̗́͜͝ ̶͍̯͔̥̓͘F̵̨̥͔̈́ö̴͈̥̣̳ù̶̧̨̗ͅn̷͇̟̪̜͊͌̀͑͘d̷̠̺̮͐ ";
    }
    10% {
        content: "E̴̠͙̠͓̤͖͋̆ͅȓ̴̢̛̛̄̏͜r̷̢̡̟͖̻̥͙̈ŏ̸ͅŗ̵͙̩͇̥͓̍̀͛̒͜͠ ̶̮̗̻̀͒̇̕͝͠4̶̦̪̦̭̲̳̩̄̂͗̚0̷̱͇̰̯̹̖̓̅̿̕4̶̗̬̫̲̻͔̓͌͛ ̷̤̺͍̩̳̆P̷̹͚͔̈́̓̓͜ͅä̶͓̪͈̹̜g̵̤̙̋̀̚é̵̝̱̿͊̉̆͘͠ ̶͓̳̗͎̥̉̌͜N̷̢̛̗̺͒̇ͅo̴̹͕̩̲̣̓̓̓̀̈t̷̿͛̇̊̌ͅ ̷͉̓͌F̷͙̱͎̉̚ơ̴̫͓̝̣͘u̸̧͖̖̞͐͐̒̎̌͘͜n̷̘̤̖̫̔̄̓͠d̶̞͍̽";
    }
    20% {
        content: "E̶͚̩͈͓̤̽͗͛̃̉͂̄͒r̵̢̪̰͎̦̓̌̔͗̈̓͝r̴̛̟͎͗́͗o̵̹̺̤͔̎ṙ̶̦̱̗̪̇ ̵̹̝̦̽̆̍̓̀͑4̷̧̛͓̞̑0̸͉͗͆̚ͅ4̷̞́̊͠͠ ̵̧̮̥̪̯̫̰͚̌̈̕P̷̞̪̪̤̣̘͛̎͐̅̓a̴̖̣̞̖̳̙͕̅̓͆̚͝g̸͉̞̭̫̮̣̈́̍̓̏̀ȩ̵͕̥̭̣̼̽́̓̑͋̃̈́ ̷̧̺̥̩͒̓̓N̵̨̦̘̣͌̉̿͂͝o̸͈̥̪̫̮̺͜͝t̸̡̺͎̝̋̏͂́ ̵̧̺̺̖̼̑̅͘F̸͎͙̣̳̰͕̠̉̇ȍ̸̱̈͛̀̑̕͘̕u̶̮̼͠ņ̵̢̯̥̩͓̗͑d̵̪͕̼͓̂̔̊̇̕";
    }
    30% {
        content: "Ę̶͙̯̭͖̺̤̐͊r̷̠̅̔̃͗̀́̊ͅr̴̥͍̟͔̝̳̿̃͆͂̾̅̔ͅȍ̴͈̙̮̹͂r̴̲͚͈̖͗̃̈́̆͛̋ ̷̢̤͓̱̙͇̣̜̟̄̈́̅̎̕͝4̸͓͖̟̤̩͔̳͎́̉͌̐͊̐̈́̕͠0̶͉̥̲̩̓͜4̶̳̲͇̠͌̌̅͝ ̵̧̧̲͙͓̗̃̉̒̏͑̏̋͘̚P̷̢͉͖̙̘̄̉̏̑͂̈́͆̍̓͜a̴̩͈̳̅͛g̴̱̩̀͒͛̅̎e̶͉͎͓̺̓̐̀͛̾̃̕̚ ̶̧̨̛̳̬͔̥̦̭̈͒̽͂̈́Ń̵̖͓̻̬̠͓̜̽o̷̢̘̐̊̇t̸̢͔̞̞̏̓͗́̀̈́̚͘͠ ̴͖̩̜̙͊̆̊͋̈́̌̑͘͘F̷̧̫͇̠̦̓̒̈́̚o̶̤̻͓̙̠̊̓͒͑ǔ̸̞̪͕̤̲̯͈͛͒̔͆̏̍n̸̞̬͇̙͈̻͋̋̒͋̏̉̓d̷̞̱̙̝͖̥͍̪͆̄̅͒̀͗̀̄́";
    }
    40% {
        content: "Ẹ̴̢̨̧͔͓͍̟͊̍̍͛̂͝r̸̛͍̦̖̳̭̔͋͑̉̀͂̌̉̽͂͠r̷͓͉̦̞̪͆o̸̝͗͊̊r̴̨̤̣̜̼͎͍̘͉̙̈́̀̈́̎́͑̌͜͝ ̵̗́̉́́͛̆͊̓4̴̡̲̳̱̰́̍̕0̵̢̨̫̙͍͎͔͔͚̤̩̯̽̒̃́͌̋̇̓4̵͈͉͈͋̋̌͐ ̵̧̖̣̭̼͐̾̏̄͆͛̿̆̓͛͜Ṗ̴̟͕̘̗̥̫̀͜ä̵͉͎̙͔̬̭̱̠̪̮͚́̔̈́͛͒̄͑̄̈͑̏̚g̷̢͍̀̒̿̍̿̀̀̅͛̀͌͠ḙ̸̢̢͙̟̞͆̈̔̓̓̈̾͊̏̆͗̓ ̶̛̭͕̖͔̣̍̐̃͑͑̐̕͘͝ͅN̸̡̙̟̫̮̳̬̈́̌͒̐͐̈́͒o̵͎̙͉̖͓͍̟͂̀͊͗̀̒̌͜t̵̲̘̞͔̲̱̀̏̀̎͆̕͝ ̷̢͍͎͖͉̠̰̥̟̈́́͆̈̓̂͜F̶̱̟͉͈̎͂̌̓̓̂ọ̶̡̠͇̖̼̙̱͎͗ͅṵ̸̡̧͙͉͙̮̰̲̗̜̓̅͑̇̈́̾̐͘͘n̴̩̠͉̑͌̐͊d̷̢͚͊̏͌̔";
    }
    50% {
        content: "Ę̶̨̖̖̗̲͈̮͍̲͈̰̗͓̣͋̽͒̍̉̋͒̏͆̂̋̊̏̅̉̍̿̿͜͠r̵̯̍̎͑͛̽͋̆̆̉r̴̪͙̮̣̫͑̎̈́̾̅̋̀̓̑͝͠o̶̡̢͇̱͖̬̱̤̓͑̋̏̓̍r̸̮͍̖̖̀̈̊̀̅ ̴̢̻͔̘̪́͒̈́̓̒̒̇̚͘͝4̷̡̧̘͖̻͇̳͇̭̣̳̞̖̬͙̪̗̬̾̾̌̑̾̾̂͂͋̒͛͂̀̉͆̀̀̕͜0̸̢͖̞̖̲̠̟̙̥̳̙̗̣̈́̃̎͒͊̓͛̓̽̕̚4̶̢̠̩̃̔̿̉͗͒̍̿̈́̉̀͂͊̚̕͝͝͠ ̶̢̢͈̩̣̫̣̮͓̫͎͎͚̮̼̟͙̜̜̉͒͒͂̏̾̉̕P̴̞̜̲̮̬̝͙̲̓̌͗́̉̈́͌̕͠ȁ̴̛̠͚̹͚̌̾̈̄̅͌͊͆̒͐͂̃̕͝g̵̰̀̔̅̂́̀̓͒͊̚e̷͖͚̝͚͖͛̀͌͒͑̅͒̃͌̓͊̆̐̃̈́̈́͝ ̶̺̹̹̗̝͕̲̱̝͖̮̗̫͉̊̐͊͌̑́̿̀̔͘͜͠ͅŃ̵̨̜̝͕͒̎͘ỏ̶̪͍͉͔̫͚͎̺̮̍͛̔̂̎͠͝͝t̷̨̯̩̰̜̼̣̩̉̔͋̄͛͛͒͘ ̸̣͓͔͙̼̪̩̺̬͚̠̩̠͐̽̎̋̍̈͑͑͂̾͊͒͜͜ͅͅF̷̨̢͎̫̦̲͈͓̹̝̘̟̹̪̤̯͚̽̈͂́̃̌̐̆͗̉̈́͗̕͝ö̴̫̞́̔̌̅̈́͋͑̉̃̑́̊͂̏̕̚̚ṳ̴͇͈̺͑̽̋̋̃̂̉̌͛͊̚̚͝n̸̹͖̜͖͉̥̬̺͒̄͊̀̌̓̅̽̊̒͛̈́͒̉͂̿̈́͘͘͜͜ḍ̷̢̢͉̗̱̪̠̟̞̳̬͕́̏̍͜͜";
    }
    60% {
        content: "Ẹ̶̜̙̠̺̻͇̒̈́ṟ̷͙̊́͋̓̉̃̊̔r̶̗̮̰̩̯̹͈̦̗͙̣̈̓̂̿̌ͅṏ̸̹́̓̌̈́̏̅͌̂̅͒͋̕r̸̙͙̘̪̝͗͜ ̸̞̐̈́̂͐͘ͅ4̶̨̰̺̼̮̠̰̒́̈͋͆̒͛̌͗̉̄̕͜͠͠0̴̡̫̹͇̞͕͔̞̭̌̽̓̐̉̊̊̄͘ͅͅͅ4̶̛̝̟̬̦̟̟̺̥̜̘̘̍͒͐̈͋͐͌̃͘ ̴̜̜̜͎͇͔̓͋̇͂̄̏̏͐̚P̵̮̭͌a̵̭̯̗̩̱̋̓͝ͅg̵̡̢̺͚̖͎̬̺͈̹̎̀́͌͊͂̈́̄̂̑̚ͅe̶͔͒̀͐̂́̍̀̎̀́̅͑̀̔͘ ̴̧̣̺̯̮̃̓́͂̍̐͌̓̄͗̚͠N̸̰̎͘͝o̸̼̩̠̫̺̺̜̘͓͉̞̙͍̳̳̊̊͐͋t̶̛͔̹̰̼͈̻̬̻̼̦̯̑̈͒̌͐̄̌͋̓͛̇̕͝ ̵̨̯̤̟̿͑̒͆F̶̡̧̣̙̯̻̹̘͉͉̻̯̬̄̆̊̾͜ó̵̧̢̩̱̥̱̮ù̸̢̂͘n̶̝͇͎̗̩̜̖̬̹̲̻̒̌̇̎͒͐͊͗̿͝͠ḓ̶̛̳̫̠̀͐͑̐̽̐͆́̾̑͝͠";
    }
    70% {
        content: "E̶͉͛͂͗̑̊͐̒̀̚ṙ̵͈̤͚͊̇̈́̊̔̆͘ͅr̵̛̯̺͕̓͆o̸̗͓̫͝r̷͖̠̻͙͔̽̓̑͂̆̊͝͝͝ ̶̺̻͚̀̅4̶̡͈͚̫̦̯͉̍0̸͔̝̠̞̈́͜ͅ4̸̨͈̦̗͔͙͓̝͛̒̌ͅ ̵̛̫͖̪̯̖͒P̷̤̮̞̭̳̟̲̦̃̾̓́̓ą̵̢͍̎̀͗̒͠͝͝g̵̳͙̟͙̤̹̠͔̞͒̀̌́̾͋͘ȩ̴̙͈̯̮̼̖̈́̀̑́̀͠ ̶̠͎͌͆͗͛͋̄͛͋͜Ǹ̴͍̉̋͌̚o̷̧̨̡̡͇͚̩͎͋̀͂͋̇͐͘͜t̶͇̙̗̿ ̴͖̲͚̓F̶̧͉̮͎̪̣͕̦̍̍͊̓̀͛̚̚͜o̵̺͖̝͂͆͆̎͆͘ù̷̼̖̥̝͍̦ṅ̷̥̩̘̮͎͕̹͍̯̓̆̉̍͛̈d̷̢̬̬͍̗͍̰͇̂ͅ";
    }
    80% {
        content: "Ẹ̵͙̱̰̼̠͐̈́̿͘r̶̛̤̗̪͓̔͂̃̆͋̕r̵̨̘͇̯͋͛͐͜͝o̷͚̦̝͖̊̾̉̏͊͌r̶̛͓̱̻̘͖̘͖̘̃̇̃̽̚͝ ̵̖̝̟͋̽̒4̴̺̳͉̭̼̦̂͆̉͗̿͊0̶̯̮͍̈́̿̇̈́͗̋̄4̵̢̫̳͋͐̉̈͂̽́ ̶̯̃̇̈͝ͅP̸̨͖̣̲͓͍̪̩͗å̵̫̝̙͍̱̮̇̈͒͑͂͜g̷̨̞̺̪̪̊̌̒ȩ̵̛͇̼̩̥̣͈̽̊̿̓̍͆͝ ̷͍̫̞̝̥̈͘Ñ̴̠̹̫̳̗̿̑͜͝ǫ̸̛̼̿̽͠͝t̵̹̋̀ ̶͔̦̋̉̇̐͗̉F̸̞̹̝͙͙̯͕͍̈́̍̄̂ơ̶̧̪̤̠͖̎̇̓̆͘u̶̪͎͘n̵̻͚̣̿͝ḏ̷̳̙͇͚͊̋́͜";
    } 
    90% {
        content: "È̸̮̝̟̎͌ṛ̶͠r̵̦͚̒̉̃o̷̮̓̋̈́r̴͇̀́̚ ̷͇̬̊4̷̼́̌0̵̮̮̿͘4̶͎̹̋̂̚ ̶̺͐̋͝P̴̳̾̇̄a̵̡̪̅g̶̯̈́e̷̻̝͊͗̅͜ ̶̥̺́̊N̶͙̫͇͋̇̅ō̷̰̪͝t̸̖͈̝̓̅ ̴͕͇̼͒̎̚F̸̤̅̈́ọ̴͌̈́̈́ṵ̸̊͂n̶̝̾̌̆d̴̖͈͐͐";
    }
}