.experience-list {
    margin: 4vw;
    min-width: fit-content;
}
.experience-list h1:first-child {
    color: rgb(0, 28, 85);
    margin-bottom: 24px;
    margin-top: 10px;
    margin-left: 12px;
}
.experience-card {
    font-family: "Google Sans Regular";
    width: 100%;
}
@media (max-width: 768px) {
    .experience-list {
        margin: 2vw;
    }
}